<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
        integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>

<body>
    <div id="root">
        <div class="background d-flex aling-items-center">
            <div class="container d-flex align-items-center">
                <div class="central-inner-content">
                    <div class="container-fluid">
                        <div class="row p-0 h-100">
                            <div class="col-4">
                                <section class="inner-header d-flex justify-content-between">
                                    <div class="user-info">
                                        <img :src="`img/avatar${user.avatar}.jpg`" alt="avatar_1" class="icon m-2">
                                        <span>{{user.name}}</span>
                                    </div>
                                    <div
                                        class="relative-icons color-gray d-flex justify-content-between aling-items-center">
                                        <i class="fas fa-redo m-2"></i>
                                        <i class="fas fa-comment-alt m-2"></i>
                                        <i class="fas fa-ellipsis-v m-2"></i>
                                    </div>
                                </section>

                                <div class="inner-header-notes d-flex ">
                                    <img src="https://png.pngtree.com/png-vector/20190411/ourlarge/pngtree-vector-bell-icon-png-image_927119.jpg"
                                        alt="bell" class="icon m-2">
                                    <div class="notify-message">
                                        <h6>Ricevi notifiche di un nuovo messaggio</h6>
                                        <p><span class="desktop-notes">Attiva notifiche desktop</span></p>
                                    </div>
                                </div>
                                <div class="filter-section">
                                    <div class="input-cont">
                                        <i class="fas fa-search"></i>
                                        <input type="text" id="" placeholder="Cerca o inizia una nuova chat">
                                    </div>
                                </div>

                                <section class="messages-section">
                                    <div v-for="(item, index) in contacts" @click="currentIndexUpdate(index)"
                                        class="contact-tag">
                                        <img :src="`img/avatar${item.avatar}.jpg`" alt="avatar_1" class="icon m-2">
                                        <span>{{item.name}}</span>
                                    </div>
                                </section>
                            </div>


                            <div class="col-8">
                                <section class="inner-header d-flex justify-content-between">
                                    <div class="user-info d-flex align-items-center">
                                        <img :src="`img/avatar${user.avatar}.jpg`" alt="avatar_1" class="icon m-2">
                                        <div class="user-description">
                                            <span>{{user.name}}</span>
                                            <p class="last-access">Ultimo acesso oggi alle</p>
                                        </div>
                                    </div>
                                    <div
                                        class="relative-icons color-gray d-flex justify-content-between aling-items-center">
                                        <i class="fas fa-search m-2"></i>
                                        <i class="fas fa-paperclip m-2"></i>
                                        <i class="fas fa-ellipsis-v m-2"></i>
                                    </div>
                                </section>

                                <section class="message-body">
                                    <div class="container">
                                        <div v-for="(message , index) in contacts[currentIndex].messages" class="row">
                                            <div class="col-12" :class="sentRecived(message)">
                                                <div class="content   message">
                                                    {{message.text}}
                                                </div>
                                            </div>
                                        </div>


                                    </div>
                                </section>
                                <footer class="d-flex align-items-center justify-content-between">
                                    <i class="fas fa-smile"></i>
                                    <input type="text" placeholder="Inserisci un messaggio qui" v-model="newMessage"
                                        @keyup.enter="newMsgUp">
                                    <i class="fas fa-microphone"></i>
                                </footer>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="script.js"></script>
</body>

</html>