/* BACKGROUND  */

.background{
    height: 100vh;
    background: linear-gradient(to bottom, rgb(5, 143, 132)  0%,rgb(5, 143, 132)   20%,rgb(204, 198, 198) 20%,rgb(204, 198, 198) 100%);
}



/* INNER-CONTENT  */

.central-inner-content{
    width: 100%;
    margin: 20px 0 20x 0;
    box-shadow: 0px 0px 10px rgba(0,0,0,.5)
}

.col-4{
    background-color: white;
    padding: 0;
}

.col-8{
    padding: 0;
    border-left: 1px solid blue;
}


/* CONTENT  */

.inner-header{
    background-color: rgb(241, 232, 232);
    padding: 0 20px;
}

.inner-header-notes{
    background-color: rgb(98, 195, 233);
    padding: 10px
}

.icon{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.relative-icons .fas{
    line-height: 50px;
    font-size: 1.2rem;
}

.desktop-notes{
    color: grey;
    font-size: 12px;
    text-decoration: underline;
}

i{
    color: grey;
}

p{
    margin-bottom: 0;
}

.last-access{
    font-size: 10px;
    color: grey;
}

.filter-section{
    background-color: white;
}

.input-cont{
    border: 1px solid transparent;
    border-radius: 10px;
    margin: 0 5px 0 5px;
    padding: 20px 0;
}

.input-cont input{
    border: 0;
    width: 90%;
}


/* MESSAGES-SECTION  */

.messages-section{
    height: calc(100vh - 274px);
    overflow-y: auto;
}


/* CONTACT SECTION  */

.contact-tag:hover{
    background-color: rgb(214, 205, 205);
    cursor: pointer;
}




/* ACTIVE-MESSAGE-COL  */
.message-body{
    background-image: url("mine.jpg");
    height: calc(100vh - 198px);
    overflow-y: auto;
}

.message{
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0,0,0,.2)
}

.message-body .row{
    margin-top: 20px;
}

.content{
    position: relative;
}

.recived{
    display: flex;
    justify-content: flex-start;
}

.sent{
    display: flex;
    justify-content: flex-end;
}

.sent .content{
    background-color: rgb(71, 218, 66);
    min-width: 70px;
}

.recived .content{
    background-color: white;
    min-width: 70px;
   }

.time{
    font-size: 8px;
    color: grey;
    position: absolute;
    right: 3px;
}

footer{
    min-height: 80px;
    padding: 0 20px;
    background-color: rgb(241, 232, 232);
}

footer input{
    width: 90%;
    height: 50px;
    border: 0;
    border-radius: 10px;
    
}

footer .fas{
    font-size: 2rem;
    line-height: 80px;
}